//output:index.html
html
  head
    title N-Network (Proto)
    meta(charset="utf-8")
    link(rel="stylesheet", type="text/css", href="style.min.css")

  body
    .nset
      .ngroup.inputs
        .ncolumn
          a.node
          a.node
          a.node
      .ngroup.network
        .ncolumn
          a.node
          a.node
          a.node
        .ncolumn
          a.node
          a.node
          a.node
        .ncolumn
          a.node
          a.node
          a.node
      .ngroup.outputs
        .ncolumn
          a.node
          a.node
          a.node

  footer
    script(src="index.js")
